<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="view-complaints.css" rel="stylesheet">
  
    <title>view complaints</title>
    
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="container">
      <h2>View what others experienced</h2>

      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= blog.reason %></h4>
                <div class="card-subtitle text-muted mb-2">
                  <%= blog.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><%= blog.location %></div>
                <div class="card-text mb-2"><%= blog.message %></div>
                <div class="card-text mb-2"><%= blog.img %></div>

                <% const id = blog.id %>
          <a href="/view/<%= id %>" class="btn btn-primary">Read More</a>
          
            </div>
          </div>
        <% }) %>
    <% } else { %>
      <p>There are no posts to display...</p>
    <% } %>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>